<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Connexion - Screenly</title>
  
  <link rel="stylesheet" href="/static/login.css">
</head>
<body>
  <div class="login-wrapper">
    <div class="login-container animate-fadein">
      <h2>Connexion</h2>
      <!-- pretend login success -->
       <form action="/login" method="POST">
        <div class="input-group">
          <input type="text" name="email" placeholder="Email" required>
        </div>
        <div class="input-group">
          <input type="password" name="password" placeholder="Mot de passe" required>
        </div>
        <button type="submit" class="btn-login">Se connecter</button>
      </form>
      <p class="signup-text">
        Pas encore de compte ? <a href="/signUp">Inscrivez-vous</a>
      </p>
    </div>
  </div>
</body>
</html>
